body {
	display: grid;
	grid-template-rows: 19% 47% 13% 20%;
	background-color: black;
	font-family: 'Press Start 2P', 'Arial';
	text-align: center;
	color: white;
	margin: 0 auto;
}

h1 {
	font-size: 50px;
}

article {
	max-width: 400px;
	margin: 0 auto;
	text-align: center;
}

h2 {
	text-align: center;
	margin-top: 3px;
}

.game-grid {
	height: 400px;
	width: 400px;
	display: grid;
	justify-content: center;
	grid-template-columns: 20% 20% 20%;
	grid-template-rows: 20% 20% 20%;
	grid-gap: 5px;
}

.round-banner {
	color: white;
	margin-top: 10px;
	font-size: 45px;
}

.button {
	cursor: pointer;
	color: white;
	font-size: 20px;
	font-weight: bold;
	outline: none;
	border: none;
	font-family: 'Press Start 2P', 'Arial';
	border-radius: 10px;
}

/* Found this trick for none-hovering user interfaces @  https://medium.com/@mezoistvan/finally-a-css-only-solution-to-hover-on-touchscreens-c498af39c31c */
@media (hover: hover) and (pointer: fine) {
	.button:hover {
		border: 5px solid white;
		transition: 0.25s;
	}
}

.button:active {
	background-color: white;
	color: black;
	transition: 0.3s;
}

/* Animation for the computer choices */

.game-buttons-animation {
	border: 7px solid white;
	color: black;
	transition: 0.3s;
}

#r-button {
	background-color: rgb(235, 88, 88);
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
}

#r-button:active {
	background-color: white;
	transition: 0.3s;
}

#g-button {
	background-color: green;
	grid-column-start: 3;
	grid-column-end: 3;
}

#g-button:active {
	background-color: white;
	transition: 0.3s;
}

#b-button {
	background-color: blue;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
}

#b-button:active {
	background-color: white;
	transition: 0.3s;
}

#o-button {
	background-color: rgb(255, 145, 0);
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 3;
	grid-row-end: 3;
}

#o-button:active {
	background-color: white;
	transition: 0.3s;
}

#c-button {
	background-color: rgb(23, 197, 209);
	grid-column-start: 3;
	grid-column-end: 3;
	grid-row-start: 3;
	grid-row-end: 3;
}

#c-button:active {
	background-color: white;
	transition: 0.3s;
}

.restart-button {
	display: inline-block;
	background-color: #7442d1;
	/* margin: 0 auto; */
	height: 60px;
	width: 60px;
	vertical-align: middle;
}

.play-button {
	display: inline-block;
	background-color: #7442d1;
	line-height: 26px;
	height: 60px;
	width: 230px;
	vertical-align: middle;
}

.info-button {
	display: inline-block;
	background-color: white;
	color: black;
	height: 60px;
	width: 60px;
	vertical-align: middle;
}

.info-button:active {
	background-color: black;
	color: white;
	transition: 0.3s;
}

@media (hover: hover) and (pointer: fine) {
	.info-button:hover {
		border: 6px solid #7442d1;
		transition: 0.3s;
	}
}

@media only screen and (max-width: 498px) {
	body {
		grid-template-rows: 25% 41% 12% 30%;
	}
	h1 {
		line-height: 60px;
	}
	.round-banner {
		line-height: 60px;
	}
}

#modal {
	display: none;
	background-color: rgba(0, 0, 0, 0.4);
	position: fixed;
	top: 0;
	left: 0;
	line-height: 20px;
	height: 100%;
	width: 100%;
	z-index: 1;
	overflow: auto;
}

#modal-textbox {
	background-color: #7442d1e7;
	margin: 0 auto;
	padding-top: 10px;
	height: 100%;
	width: 100%;
	border-radius: 2px;
}

#close {
	color: white;
}

audio {
	opacity: 0;
	position: absolute;
	top: -1000;
	z-index: -1;
}
